.container {
    max-width: 100%;
    width: 100%
}

div#main {
    margin: 0px;
    padding: 0px;
    width: 100%
}


div#navigation {
    padding-right: 0px;
}

li.nav-item {
    margin-left: 50%;
    margin-right: 50%
}