.container {
    max-width: 100%;
    width: 100%
}

div#main {
    margin: 0px;
    padding: 0px;
    width: 100%
}


div#navigation {
    padding-right: 0px;
}

ul {
    width: 100%;
    margin-top: 1em;
}

li.nav-item {
    margin-left: 15%;
    text-align: left;
}

li.nav-item a {
    font-size: 169%;
    transition: font-size .1s;
}

li.nav-item a:hover {
    font-size: 220%;
}

@media only screen and (max-width: 1000px) {
    div#about p {
      font-size: 200%;
    }
  }